<ion-view >
  <ion-header-bar>
    <h1 class="title">{{item.when | date:"dd/MM/yyyy 'as' h:mma"}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content delegate-handle="mainScroll" class="padding">

    <div class="list card">

      <div class="item item-avatar">
        <img src="{{APIUrl+item.imgUrl}}">
        <h2 ng-hide="isSet(item.specie)">{{item.userName}}</h2>
        <h2 ng-show="isSet(item.specie)">{{item.specie}}</h2>

      </div>

      <div class="item item-body">
        <img class="full-image" src="{{APIUrl+item.imgUrl}}">
        <p><b>Local:</b>
          <button class="button button-small button-positive" ng-click="openMap(item)">
            Ver no mapa
          </button>
          <p class="paddingButton"><b>Lat:</b> {{item.location.lat}}
          </p>
          <p class="paddingButton"><b>Lon:</b> {{item.location.lng}}
          </p>
        </p>
        <p><b>Comentários:</b> {{item.comment}}
        </p>
        <!-- <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
        </p> -->
      </div>


    </div>



  </ion-content>

</ion-view>
